.login {
  position: relative;
  height: 100vh;
  width: 100%;
  > .header {
    z-index: 15;
    width: 100%;
    background: transparent;
    height: 5rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .logo-img {
      width: 4rem;
      height: 4rem;
      > img {
        width: 100%;
        height: 100%;
      }
    }

    > .sign-up {
      padding: 5px 10px;
      background-color: red;
      border-radius: 5px;
      font-size: 1.5rem;
    }
  }

  > .full-section {
    height: 100vh;
    width: 100vw;
    background-color: black;
    // object-fit: contain;
    // object-position: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      max-width: 100%;
      max-height: 100%;
    }
    > .form-login {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      height: 400px;
      width: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > input {
        outline: none;
        width: 80%;
        height: 3rem;
        color: black;
        font-size: 1.5rem;
        padding: 3px;
        margin: 10px 0;
      }

      > button {
        padding: 5px;
        background-color: red;
        height: 3rem;
        width: 80%;
        font-size: 1.5rem;
        border: none;
      }
    }
  }
}
.demo-cred {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .login {
    > .header {
      z-index: 15;
    width: 100%;
    background: transparent;
    height: 5rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .logo-img {
      width: 3rem;
      height: 3rem;
      > img {
        width: 100%;
        height: 100%;
      }
    }

    > .sign-up {
      padding: 5px 10px;
      background-color: red;
      border-radius: 5px;
      font-size: 1rem;
    }
    }

    > .full-section {
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      > img {
        max-width: 100%;
        height: 100%;
      }
    

    .form-login {
      padding: 4px;
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      height: 300px;
      width: 320px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > input {
        outline: none;
        width: 95%;
        height: 2rem;
        color: black;
        font-size: 1.5rem;
        padding: 3px;
        margin: 4px 0;
      }

      > button {
        padding: 5px;
        background-color: red;
        width: 95%;
        height: 2rem;
        font-size: 1.5rem;
        border: none;
      }
    }
  }
  }
}
