.row{
    padding: 1rem;
    background-color: black;
    > h2{
        font-size: 3rem;
        color: rgba(211, 19, 19, 0.65);
        font-family: "Geologica";
    }
    >div{
        display: flex;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
          }
    }
 }