.cast{
    padding: 1rem;
    background-color: black;

    >h2 {
        margin-left: 30px;
        font-size:40px;
    }
    >div{
        display: flex;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
          }
    }
 }