

 .cast-card-out{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:1.5rem;
    >h2{
        color: white;
        margin-top: 10px;
        font-size: 0.85rem;
    }
    >p{
        margin: 2px 0px;
    }
    >span{
        color: white;
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
    > .cast-card{
        width: 150px;
        height: 175px;
        border-radius: 50%;
        
     }
 }